.home-section2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5vh;
    margin-bottom: 10vh;
    overflow-x: hidden;
}

.home-section2 > h1 {
    margin-top: 0;
    font-size: 5vh;
    text-align: center;
    margin-bottom: 6vh;
    user-select: none;
}

.home-section2-slides {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
}

.home-section2-slides-indiv:nth-of-type(1) {
    background-color: #5c5b5b;
}

.home-section2-slides-indiv:nth-of-type(2) {
    background-color: #C51B16;
}

.home-section2-slides-indiv:nth-of-type(3) {
    background-color: #000000;
}

.home-section2-slides-indiv {
    width: 27%;
    height: auto;
    border: 2px solid #0E100D;
    border-radius: 2vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2vh 2%;
}

.home-section2-slides-indiv-header {
    width: 92%;
    padding: 1.5vh 4%;
    text-align: center;
    background-color: #FDFCF9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 2vh;
} 

.home-section2-slides-indiv-header>h1 {
    margin: 0 0;
    padding: 0 0;
    font-size: 2.2vh;
    margin-bottom: 1vh;
    white-space: nowrap;
    user-select: none;
}

.home-section2-slides-indiv-header>p {
    margin: 0 0;
    padding: 0 0;
    width: 90%;
    text-align: center;
    font-size: 2vh;
    user-select: none;
}

.home-section2-slides-indiv-content {
    width: 90%;
    margin-top: 4%;
    height: auto;
    flex: 1;
    padding: 4% 5%;
    background-color: #FDFCF9;
    list-style: none;
    border-radius: 2vh;
}

.home-section2-slides-indiv-content>li {
    margin: 0 0;
    padding: 1vh 2%;
    border-bottom: 1px solid #5c5b5b;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.home-section2-slides-indiv-content>li>p {
    margin: 0;
    padding: 0;
    width: 84%;
    font-size: 2vh;
    user-select: none;
}

.home-section2-slides-indiv-content>li>img {
    width: 8%;
    user-select: none;
}

@media (max-width: 999px) and (min-width: 550px){
    .home-section2-slides-indiv {
        width: 50vw !important;
    }
    .home-section2-slides-indiv-header>h1 {
        font-size: 2.5vh !important;
    }

    .home-section2-slides-indiv-header>p {
        font-size: 2vh !important;
    }

    .home-section2-slides-indiv-content>li>p {
        font-size: 2vh !important;
    }
}

@media (max-width: 999px) {
    .home-section2 {
        margin-top: 3vh;
        margin-bottom: 2vh;
    }

    .home-section2 > h1 {
        font-size: 2.7vh;
        margin-bottom: 3vh;
    }

    .home-section2-slides {
        width: 100%;
        flex-direction: row;
        justify-content: flex-start;
        overflow: auto;
        flex-wrap: nowrap;
        -webkit-overflow-scrolling: touch;
        scrollbar-width: none;
        -ms-overflow-style: none;
    }

    .home-section2-slides::-webkit-scrollbar {
        display: none;
    }

    .home-section2-slides-indiv {
        width: 75vw;
        height: auto;
        margin: 0 5vw;
        flex-shrink: 0;
    }

    .home-section2-slides-indiv-header {
        width: 88%;
        padding: 20px 6%;
        height: auto;
    } 
    
    .home-section2-slides-indiv-header>h1 {
        font-size: 2vh;
        margin-bottom: 0.5vh;
    }

    .home-section2-slides-indiv-header>p {
        font-size: 1.7vh;
        width: 70%;
    }

    .home-section2-slides-indiv-content {
        margin-bottom: 0;
        width: 88%;
        padding: 20px 6%;
        height: auto;
        flex: 1;
    }

    .home-section2-slides-indiv-content>li>p {
        font-size: 1.6vh;
    }
}