.home-section4 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5vh;
    margin-bottom: 10vh;
}

.home-section4 > h1 {
    margin: 0 0;
    font-size: 5vh;
    text-align: center;
    margin-bottom: 6vh;
    user-select: none;
}

.home-section4-content {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    background-color: #F06564;
}

.home-section4-content-indiv {
    width: 90%;
    height: auto;
    margin: 5vh 0;
    padding: 0 5%;
    border-right: 1px solid #FDFCF9;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-section4-content-indiv-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.home-section4-content-indiv-header>img {
    width: 20%;
}

.home-section4-content-indiv-header>h1 {
    text-align: center;
    font-size: 3vh;
    height: auto;
    margin: 0;
    padding: 0;
    user-select: none;
}

.home-section4-content-indiv>p {
    font-size: 2vh;
    width: 82%;
    margin: 0;
    padding: 0;
    height: 60%;
    user-select: none;
}

@media (max-width: 450px) {
    .home-section4-content {
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 1024px) {
    .home-section4 {
        margin-bottom: 4vh;
    }
    
    .home-section4 > h1 {
        font-size: 2.7vh;
        margin-bottom: 2vh;
    }

    .home-section4-content {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, auto);
        gap: 10px;
        background-color: #FDFCF9;
        align-items: stretch;
    }

    .home-section4-content-indiv {
        width: 88%;
        border-right: none;
        background-color: #F06564;
        border-radius: 3vh;
        margin: 0 0;
        padding: 3.2vh 6%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .home-section4-content-indiv-header>img {
        width: 20%;
    }

    .home-section4-content-indiv-header>h1 {
        font-size: 2.2vh;
        height: auto;
        margin-bottom: 1vh;
        text-align: center;
    }

    .home-section4-content-indiv>p {
        font-size: 1.8vh;
        height: auto;
        flex: 1;
    }
}