.home-section3 {
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5vh;
    margin-bottom: 10vh;
}

.home-section3 > h1 {
    margin-top: 0;
    font-size: 5vh;
    user-select: none;
}

.home-section3-card {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.home-section3-card>img {
    width: 34%;
    border: solid 1px #0E100D;
    border-radius: 25px;
    margin-right: 12vh;
}

.home-section3-card-desc {
    width: 66%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.home-section3-card-desc>p {
    text-align: left;
    margin: 0 0;
    padding: 0 0;
    font-size: 2.7vh;
    margin-bottom: 3vh;
    user-select: none;
}


@media (max-width: 1024px) {
    .home-section3 {
        margin-bottom: 0vh;
    }
    
    .home-section3 > h1 {
        font-size: 2.7vh;
    }

    .home-section3-card {
        justify-content: center;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .home-section3-card>img {
        width: auto;
        height: 35vh;
        margin-bottom: 2vh;
        margin-right: 0;
    }

    .home-section3-card-desc {
        display: block;
        height: auto;
    }

    .home-section3-card-desc>p {
        font-size: 2vh;
        margin-bottom: 3vh;
        text-align: center;
    }
}